// Varibale Oveverrides


$theme-colors: (
    "primary": #d95700

  );

  .Jumbotron {
    background-color: #ffffff !important;
    border-top: 3px solid rgb(219, 219, 219);
  }

// Bootstrap Sass files
@import "../node_modules/bootstrap/scss/bootstrap";
